/*style.css*/

#logo{
    margin: 0;
    font-family: "Fredoka One", "SUSE", sans-serif;
}

body{
    margin: 0;   
    font-family: Arial, Helvetica, sans-serif; 
}       

body>header{
    background-color: orange;
    display: flex;
    color: white;
    height: 12vh;
    justify-content: space-around;
}

body>footer{
    background-color: orange;
}

body>footer>p{
    padding: 16px;
    color: white;
    text-align: center;
}

nav>ul{
    list-style: none;
}

nav>ul>a{
    color: white;
}

#nav-ul{
    display: flex;
}

#nav-ul>li{
    padding: 8px;
    margin: 16px;
}

body>main>article{
    margin: auto;
    width: 70%;
}

body>header>nav>ul{
    list-style: none;
    text-decoration: none;
}

.navbutton{
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

h1{
    font-size: 4vw;
}

p{
    font-size: 1vw;
}